
<%= render 'layouts/header' %>

    <main class="masthead" id="content" role="main">
      <div class="container">
        <% flash.each do |name, msg| %>
        <% if msg.is_a?(String) %>
          <div class="alert alert-<%= name == :notice ? "success" : "danger" %> alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <%= content_tag :div, msg, :id => "flash_#{name}" %>
          </div>
          <% end %>
        <% end %>
      <div class="home-brand"><img src="https://dl.dropboxusercontent.com/s/odejejw0u8hmt3t/whit-tweet-speak-logo.png"></div>
      <p class="lead">Tweet Speak English teaches you the natural English native speakers use every day.</p>

      <div class="top-space">
      <o class="lead" style="font-family: 'Roboto Slab', serif; color: #005279;
      text-shadow: none;">Start Your 7 Day Free Trial. Join Today.</p>
      
      <%= render 'layouts/horizontal_signup' %>

      <p class="privacy">We will never spam you. Unsubscribe any time.</p>
    </div>
      </div>
  </main>

<div class="featurette">
  <div class="container-fluid">
    <h2 class="featurette-title">English lessons to help you succeed.</h2>
    <p class="lead">We research to find natural English phrases on Twitter. Then, we make them into lessons that teach you the English you need to be a great communicator.</p>

    <hr class="half-rule">

    <div class="row">
      <div class="col-sm-4">
        <img src="https://dl.dropboxusercontent.com/s/miyy6fbagoya7h4/tweet-speak-daily.png" alt="Sass and Less support" class="img-responsive">
        <h3>Daily Lessons</h3>
        <p>You  get one new lesson at a time. When you finish it, you get one more. We believe making progress in English is not about more access to information, but steady, daily practice. Our goal is to help you do that.</p>
      </div>
      <div class="col-sm-4">
        <img src="https://dl.dropboxusercontent.com/s/gecdabzf0c88ja7/tweet-speak-dictionary.png" alt="Responsive across devices" class="img-responsive">
        <h3>Personal Dictionary</h3>
        <p>As you complete lessons, you will see your progress in your Dictionary – a reference guide filled with the phrases you've learned in your lessons. Review them anytime.</p>
      </div>
      <div class="col-sm-4">
        <img src="https://dl.dropboxusercontent.com/s/3nq2duc1b1cvhs9/tweet-speak-confidence.png" alt="Components" class="img-responsive">
        <h3>Confidence Building</h3>
        <p>90% of speaking well is having confidence. As you learn natural phrases with us, you'll improve your listening and pronunciation, getting confidence you need to <strong>focus on personal and professional development.</strong></p>
      </div>
    </div>

    <hr class="half-rule">

    <div class="container">
      <p class="lead">What People Are Saying</p>
    <div class="testimonial-items" data-state="1">
        
  <div class="testimonial-item">
      
      <p>I started to follow Tweet Speak English as I was looking for a constant, interesting and well created flow of english bites. Something that I could follow everyday according to my busy schedule. TSE helps me in taking <strong>confidence with the spoken language</strong> shades, new informal expressions that you cannot learn in most of english classes.
    </p>
      <div class="testimonial-item__author">
        <div class="testimonial-item__avatar segment-quote">
            <picture>
          <!--[if IE 9]><video style="display: none;"><![endif]-->

            <img alt="Cristiano" src="http://tweetspeakenglish.com/wp-content/uploads/2014/02/217194_1034590748042_2496_n-1.jpg">
        </picture>

        </div>

        <strong>Cristiano</strong>
        <p>Student from Italy</p>
      </div>
  </div>
</div>
  </div>

</div>
</div>

<div class="featurette">
  <div class="container">
    <h2 class="featurette-title">Take a look at all you get.</h2>
    <p class="lead">Get access to all of this in less than 1 minute.</p>

    <hr class="half-rule">

    <div class="row bs-docs-featured-sites">

      <div class="col-sm-3">
        <a href="http://expo.getbootstrap.com/2014/02/24/redantler/" target="_blank" title="Red Antler">
          <img src="http://expo.getbootstrap.com/screenshots/redantler.jpg" alt="Red Antler" class="img-responsive">
        </a>
      </div>

      <div class="col-sm-3">
        <a href="http://expo.getbootstrap.com/2014/03/13/riot-design/" target="_blank" title="Riot Design">
          <img src="http://expo.getbootstrap.com/screenshots/riot.jpg" alt="Riot Design" class="img-responsive">
        </a>
      </div>

      <div class="col-sm-3">
        <a href="http://expo.getbootstrap.com/2014/02/12/newsweek/" target="_blank" title="Newsweek">
          <img src="http://expo.getbootstrap.com/screenshots/newsweek.jpg" alt="Newsweek" class="img-responsive">
        </a>
      </div>

      <div class="col-sm-3">
        <a href="http://expo.getbootstrap.com/2014/02/26/robinhood/" target="_blank" title="Robinhood">
          <img src="http://expo.getbootstrap.com/screenshots/robinhood.jpg" alt="Robinhood" class="img-responsive">
        </a>
      </div>

    </div>

    <hr class="half-rule">

    <p class="lead">We showcase dozens of inspiring projects built with Bootstrap on the Bootstrap Expo.</p>
    <a href="http://expo.getbootstrap.com" class="btn btn-outline btn-lg">Explore the Expo</a>
  </div>
</div>

<%= render 'layouts/footer' %>