
<%= render 'layouts/header' %>

    <main class="masthead" id="content" role="main">
      <div class="container">
        <% flash.each do |name, msg| %>
        <% if msg.is_a?(String) %>
          <div class="alert alert-<%= name == :notice ? "success" : "danger" %> alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <%= content_tag :div, msg, :id => "flash_#{name}" %>
          </div>
          <% end %>
        <% end %>
      <div class="home-brand"><img src="https://dl.dropboxusercontent.com/s/odejejw0u8hmt3t/whit-tweet-speak-logo.png"></div>
      <p class="lead">Tweet Speak English teaches you the natural English native speakers use every day.</p>
      
      <%= render 'layouts/horizontal_signup' %>

      <p class="privacy">We will never spam you. Unsubscribe any time.</p>

      </div>
  </main>

<div class="featurette">
  <div class="container-fluid">
    <h2 class="featurette-title">Designed for everyone, everywhere.</h2>
    <p class="lead">Bootstrap makes front-end web development faster and easier. It's made for folks of all skill levels, devices of all shapes, and projects of all sizes.</p>

    <hr class="half-rule">

    <div class="row">
      <div class="col-sm-4">
        <img src="assets/img/sass-less.png" alt="Sass and Less support" class="img-responsive">
        <h3>Preprocessors</h3>
        <p>Bootstrap ships with vanilla CSS, but its source code utilizes the two most popular CSS preprocessors, <a href="../css/#less">Less</a> and <a href="../css/#sass">Sass</a>. Quickly get started with precompiled CSS or build on the source.</p>
      </div>
      <div class="col-sm-4">
        <img src="assets/img/devices.png" alt="Responsive across devices" class="img-responsive">
        <h3>One framework, every device.</h3>
        <p>Bootstrap easily and efficiently scales your websites and applications with a single code base, from phones to tablets to desktops with CSS media queries.</p>
      </div>
      <div class="col-sm-4">
        <img src="assets/img/components.png" alt="Components" class="img-responsive">
        <h3>Full of features</h3>
        <p>With Bootstrap, you get extensive and beautiful documentation for common HTML elements, dozens of custom HTML and CSS components, and awesome jQuery plugins.</p>
      </div>
    </div>

    <hr class="half-rule">

    <p class="lead">Bootstrap is open source. It's hosted, developed, and maintained on GitHub.</p>
    <a href="https://github.com/twbs/bootstrap" class="btn btn-outline btn-lg">View the GitHub project</a>
  </div>

</div>

<div class="featurette">
  <div class="container">
    <h2 class="featurette-title">Built with Bootstrap.</h2>
    <p class="lead">Millions of amazing sites across the web are being built with Bootstrap. Get started on your own with our growing <a href="../getting-started/#examples">collection of examples</a> or by exploring some of our favorites.</p>

    <hr class="half-rule">

    <div class="row bs-docs-featured-sites">

      <div class="col-sm-3">
        <a href="http://expo.getbootstrap.com/2014/02/24/redantler/" target="_blank" title="Red Antler">
          <img src="http://expo.getbootstrap.com/screenshots/redantler.jpg" alt="Red Antler" class="img-responsive">
        </a>
      </div>

      <div class="col-sm-3">
        <a href="http://expo.getbootstrap.com/2014/03/13/riot-design/" target="_blank" title="Riot Design">
          <img src="http://expo.getbootstrap.com/screenshots/riot.jpg" alt="Riot Design" class="img-responsive">
        </a>
      </div>

      <div class="col-sm-3">
        <a href="http://expo.getbootstrap.com/2014/02/12/newsweek/" target="_blank" title="Newsweek">
          <img src="http://expo.getbootstrap.com/screenshots/newsweek.jpg" alt="Newsweek" class="img-responsive">
        </a>
      </div>

      <div class="col-sm-3">
        <a href="http://expo.getbootstrap.com/2014/02/26/robinhood/" target="_blank" title="Robinhood">
          <img src="http://expo.getbootstrap.com/screenshots/robinhood.jpg" alt="Robinhood" class="img-responsive">
        </a>
      </div>

    </div>

    <hr class="half-rule">

    <p class="lead">We showcase dozens of inspiring projects built with Bootstrap on the Bootstrap Expo.</p>
    <a href="http://expo.getbootstrap.com" class="btn btn-outline btn-lg">Explore the Expo</a>
  </div>
</div>

<%= render 'layouts/footer' %>