
<%= render 'layouts/header' %>

    <main class="masthead" id="content" role="main">
      <div class="container">
        <% flash.each do |name, msg| %>
        <% if msg.is_a?(String) %>
          <div class="alert alert-<%= name == :notice ? "success" : "danger" %> alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <%= content_tag :div, msg, :id => "flash_#{name}" %>
          </div>
          <% end %>
        <% end %>
      <div class="home-brand"><img src="https://dl.dropboxusercontent.com/s/odejejw0u8hmt3t/whit-tweet-speak-logo.png"></div>
      <p class="lead">Tweet Speak English teaches you the natural English native speakers use every day.</p>
      
      <%= render 'layouts/horizontal_signup' %>

      <p class="privacy">We will never spam you. Unsubscribe any time.</p>

      </div>
  </main>

<div class="featurette">
  <div class="container-fluid">
    <h2 class="featurette-title">English lessons to help you succeed.</h2>
    <p class="lead">We research and find natural English phrases on Twitter. Then, we make them into lessons that teach you the English you need to be a great communicator.</p>

    <hr class="half-rule">

    <div class="row">
      <div class="col-sm-4">
        <img src="assets/img/sass-less.png" alt="Sass and Less support" class="img-responsive">
        <h3>Daily Lessons</h3>
        <p>You  get one new lesson at a time. When you finish it, you get one more. We believe making progress in English is not about more accessto information, but steady, daily practice. That's what we give you</p>
      </div>
      <div class="col-sm-4">
        <img src="assets/img/devices.png" alt="Responsive across devices" class="img-responsive">
        <h3>Personal Dictionary</h3>
        <p>As you complete lessons, you will see your progress in your Dictionary – a reference guide filled with the phrases you've learned in your lessons. Review them anytime.</p>
      </div>
      <div class="col-sm-4">
        <img src="assets/img/components.png" alt="Components" class="img-responsive">
        <h3>Confidence Building</h3>
        <p>90% of speaking well is having confidence. As you learn natural phrases with us, you'll improve your listening and pronunciation, getting confidence you need to <strong>focus on personal and professional development.</strong></p>
      </div>
    </div>

    <hr class="half-rule">

    <div class="container">
    <div class="row">
      <div class="col-md-3">
        <img src="http://tweetspeakenglish.com/wp-content/uploads/2014/02/217194_1034590748042_2496_n-1.jpg">
      </div>
      <div class="col-md-6">
    <blockquote>I started to follow Tweet Speak English as I was looking for a constant, interesting and well created flow of english bites. Something that I could follow everyday according to my busy schedule. TSE helps me in taking confidence with the spoken language shades, new informal expressions that you cannot learn in most of english classes. - Cristiano
    from Italy</blockquote>
  </div>
</div>
</div>
  </div>

</div>

<div class="featurette">
  <div class="container">
    <h2 class="featurette-title">Take a look at all you get.</h2>
    <p class="lead">Join today for 1 Free lesson, plus some special bonuses.</p>

    <hr class="half-rule">

    <div class="row bs-docs-featured-sites">

      <div class="col-sm-3">
        <a href="http://expo.getbootstrap.com/2014/02/24/redantler/" target="_blank" title="Red Antler">
          <img src="http://expo.getbootstrap.com/screenshots/redantler.jpg" alt="Red Antler" class="img-responsive">
        </a>
      </div>

      <div class="col-sm-3">
        <a href="http://expo.getbootstrap.com/2014/03/13/riot-design/" target="_blank" title="Riot Design">
          <img src="http://expo.getbootstrap.com/screenshots/riot.jpg" alt="Riot Design" class="img-responsive">
        </a>
      </div>

      <div class="col-sm-3">
        <a href="http://expo.getbootstrap.com/2014/02/12/newsweek/" target="_blank" title="Newsweek">
          <img src="http://expo.getbootstrap.com/screenshots/newsweek.jpg" alt="Newsweek" class="img-responsive">
        </a>
      </div>

      <div class="col-sm-3">
        <a href="http://expo.getbootstrap.com/2014/02/26/robinhood/" target="_blank" title="Robinhood">
          <img src="http://expo.getbootstrap.com/screenshots/robinhood.jpg" alt="Robinhood" class="img-responsive">
        </a>
      </div>

    </div>

    <hr class="half-rule">

    <p class="lead">We showcase dozens of inspiring projects built with Bootstrap on the Bootstrap Expo.</p>
    <a href="http://expo.getbootstrap.com" class="btn btn-outline btn-lg">Explore the Expo</a>
  </div>
</div>

<%= render 'layouts/footer' %>