<% if current_user.try(:admin?) %>
<h1>You're an admin!</h1>
<% end %>
<% if user_signed_in? %>
<%= render 'layouts/header' %>
<% else %>
<!-- Nothing to do here for now. -->
<% end %>

<div class="jumbotron">
<% flash.each do |name, msg| %>
    <% if msg.is_a?(String) %>
      <div class="alert alert-<%= name == :notice ? "success" : "danger" %> alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      </div>
    <% end %>
  <% end %>
	
	<div class="container">
    <div class="row">
      <div class="col-md-8">
		    <h1>Learn Real English Daily</h1>
		    <p>Join us for your free lesson below</p>
      </div>

      <div class="col-md-4">
        <div class="signup">
  		    <%= render 'layouts/signup' %>
  	   </div>
      </div>

    </div>
  </div>
</div>

<div class="container">
  <%= render 'layouts/footer' %>
</div>