<div class="paper">

  <div class="pull-right">
    <h3>Users: <%= User.all.count %></h3>
  </div>
  <div class="table-responsive">
    <table class="table">
      <tr>
      <th class="center">Name</th>
      <th class="center">Last Login</th>
      <th class="center">Last Lesson</th>
      <th class="center">Email</th>
      <th class="center">Subscriber?</th>
    </tr>

    <% @users.each do |user| %>
      <tr>
        <td class="center"><%= user.name %></td>
        <td class="center"><%= distance_of_time_in_words(user.last_sign_in_at, Time.now)%> ago</td>
        <td class="center"><%= user.last_lesson %></td>
        <td class="center"><%= user.email %></td>
        <td class="center"><%= user.active_subscription? %></td>
      </tr>
    <% end %>

    </table>
  </div>
</div>