<% title "Dashboard" %>
<div class="paper">
	<% flash.each do |name, msg| %>
    <% if msg.is_a?(String) %>
      <div class="alert alert-<%= name == :notice ? "success" : "danger" %> alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      </div>
    <% end %>
  <% end %>
 
			<div class="page-header">
				<h1 style="font-family: 'Roboto Slab', serif;">Dashboard <br>
				<% if current_user.name? %>
				<small>Hey,
					<%= current_user.name %>! Ready to get started?</small>
				<% else %>
					<small>Hi! What's your name?</small> <%= link_to "Edit your name", edit_user_registration_path, class:"btn btn-default" %>
    			<% end %>
				</h1>
				<div class="center" style="margin-bottom: 25px;">

      				<% if (current_user.last_lesson == Lesson.last.id) && !current_user.admin? %>
      				<h4 class="top-space" style="color: #27ae60">You've completed all available lessons! Please check back later for updates.</h4>
        				<button type="button" class="btn btn-lg btn-primary" disabled="disabled"><span class="glyphicon glyphicon-arrow-right"></span>Start Next Lesson!</button>
        			<% elsif @unlearned_card_number >= 5 %>
        				<%= link_to learning_sessions_path(:user_id => current_user.id), :method => :post, class: 'btn btn-warning btn-lg' do %>
        					Time to review! <span class="glyphicon glyphicon-arrow-right"></span>
        					<% end %>
      				<% else %>
      					<a href="<%= current_user.next_lesson_path %>" class="btn btn-primary btn-lg">Start Next Lesson! <span class="glyphicon glyphicon-arrow-right"></span></a>
      				<% end %>

				</div>
			</div>

<% calculate_streak %>
	<div class="dashboard row big-bottom">
		<div class="col-md-6">
			<div class="panel panel-default top-space">
				<div class="panel-heading">
						<h3 class="panel-title">Beat your best streak!</h3>
					</div>
					<div class="panel-body">
						<div class="progress">
		  				<div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="<%= streak_percent %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= streak_percent %>%">
		    			<span class="sr-only">
		    				<%= streak_percent %>% Complete (success)</span>
		  				</div>
		  				</div>
		  				<p class="progress-label">Best streak: <strong><%= current_user.best_streak %> Day<% unless current_user.best_streak == 1
		  					 %>s<% end %>!</strong></p>
	  				</div>
	  		</div>
	  	</div>
		<div class="col-md-6">
			<div class="center">
				<% if current_user.points != 0 %>
				<h4>You currently have:</h4>
				<div class="points">
					<p><%= current_user.points %> points!</p>
				</div>
				<% else %>
					<div class="well top-space">
          				<h3><span class="glyphicon glyphicon-info-sign" style="color: #f1c40f"></span> Earn points!</h3>
          				<p>For every lesson you complete, you'll earn some points. Start your first lesson now!</p>
        			</div>
				<% end %>
			</div>
		</div>
	</div>
	<div class="top-space">
		<%= render 'layouts/bonuses' %>
	</div>
</div>