<div class="featurette" style="height: 760px">

  <h1>Our Available Courses</h1>

  <div id="pins" class="transitions-enabled">
  <% @courses.each do |course| %>
    <div class="pins-box panel panel-default">
      <div class="panel-heading">
        <h3><%= course.title %><br>
          <small><%= course.tagline %></small></h3>
      </div>
      <%=link_to( image_tag(course.course_image.url(:medium)), course_path(course), :class=>"course-image") %>
      <div class="panel-body">
        <%= course.description %>
        <br>
        <br>
        <%= link_to 'Learn More', course_path(course), class: 'btn btn-lg btn-success' %>
        <% if current_user.try(:admin) %>
          <%= link_to 'Edit', edit_course_path(course) %>
          <%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </div>
    </div>
  <% end %>
  </div>
</div>