<div class="featurette">
  <h2 class="featurette-title">Try Tweet Speak English for 7 days free, with no risk</h2>

  <div class="row pricing">
    <div class="col-md-4">
      <%= form_tag charges_path, id: 'chargeForm' do %>
        <%= hidden_field_tag 'stripeToken' %>
        <%= hidden_field_tag 'stripeEmail' %>
      	<%= hidden_field :charges, :plan_type, value: "ts_monthly" %>
        <div class="pricing-header">
          <h3 class="pricing-header header-price">Monthly</h3>
          <div class="pricing-plan">
            <abbr>$</abbr>
            9
            <span>/month</span>
          </div>
          <button id="customButton" class="btn btn-large btn-primary">Start 7 Day Free Trial</button>

          <script>
      var handler = StripeCheckout.configure({
      key: '<%= ENV["STRIPE_PUBLIC_KEY"] %>',
      image: '/assets/my_logo.png',
      token: function(token, args) {
            document.getElementById("stripeToken").value = token.id;                              
            document.getElementById("stripeEmail").value = token.email;
            document.getElementById("chargeForm").submit();
          }
        });

      document.getElementById('customButton').addEventListener('click', function(e) {
        // Open Checkout with further options
        handler.open({
          name: 'Tweet Speak English',
          description: 'Monthly Subscription',
          amount: 9*100,
        });
        e.preventDefault();
      });
    </script>
      <% end %>
        </div>
    </div>

  <div class="col-md-4">
      <%= form_tag charges_path, id: 'chargeForm' do %>
        <%= hidden_field_tag 'stripeToken' %>
        <%= hidden_field_tag 'stripeEmail' %>
      <div class="pricing-plan-popular popular-heading">Most Popular</div>
      <div class="pricing-header">
          <h3 class="pricing-header header-price">Lifetime</h3>
          <div class="pricing-plan">
            <abbr>$</abbr>
            97
            <span>one time</span>
          </div>

        <button id="customButton2" class="btn btn-large btn-primary">Buy Now</button>

          <script>
      var handler = StripeCheckout.configure({
      key: '<%= ENV["STRIPE_PUBLIC_KEY"] %>',
      image: '/assets/my_logo.png',
      token: function(token, args) {
            document.getElementById("stripeToken").value = token.id;                              
            document.getElementById("stripeEmail").value = token.email;
            document.getElementById("chargeForm").submit();
          }
        });

      document.getElementById('customButton2').addEventListener('click', function(e) {
        // Open Checkout with further options
        handler.open({
          name: 'Tweet Speak English',
          description: 'Lifetime Membership',
          amount: 97*100,
        });
        e.preventDefault();
      });
    </script>
      <% end %>
        </div>
    </div>

    <div class="col-md-4">
      <%= form_tag charges_path, id: 'chargeForm' do %>
        <%= hidden_field_tag 'stripeToken' %>
        <%= hidden_field_tag 'stripeEmail' %>
        <%= hidden_field :charges, :plan_type, value: "ts_yearly" %>
        <div class="pricing-header">
          <h3 class="pricing-header header-price">Yearly</h3>
          <div class="pricing-plan">
            <abbr>$</abbr>
            59
            <span>/month</span>
          </div>
          <button id="customButton3" class="btn btn-large btn-primary">Start 7 Day Free Trial</button>

          <script>
      var handler = StripeCheckout.configure({
      key: '<%= ENV["STRIPE_PUBLIC_KEY"] %>',
      image: '/assets/my_logo.png',
      token: function(token, args) {
            document.getElementById("stripeToken").value = token.id;                              
            document.getElementById("stripeEmail").value = token.email;
            document.getElementById("chargeForm").submit();
          }
        });

      document.getElementById('customButton3').addEventListener('click', function(e) {
        // Open Checkout with further options
        handler.open({
          name: 'Tweet Speak English',
          description: 'Yearly Subscription',
          amount: 59*100,
        });
        e.preventDefault();
      });
    </script>
      <% end %>
        </div>
    </div>

  </div><!-- end row -->
</div><!-- End Featurette -->